<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:00:45"/>
    </staticContent>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <appSettings>
    <add key="PathLog" value="C:\ECrudLog\MasterSbsa"/>
    <add key="PathFile" value="C:\ECrudLog\MasterSbsa\MasterSbsa.txt"/>
  </appSettings>
  <connectionStrings>
    <add name="TelematTecon" connectionString="DATA SOURCE=CORP;USER ID=TELEMAT;PASSWORD=TELEMAT"/>
    <add name="TelematImbituba" connectionString="DATA SOURCE=TELEMAT_IMB;USER ID=TELEMAT;PASSWORD=TELEMAT"/>
    <add name="TelematLogistica" connectionString="DATA SOURCE=ESCALA_MESQUITA;USER ID=APP_ESCALA_WEB;PASSWORD=APP_ESCALA_WEB"/>
    <add name="TelematConvicon" connectionString="DATA SOURCE=CONVICON;USER ID=TELEMAT;PASSWORD=TELEMAT"/>
    <add name="TelematTeconDW" connectionString="DATA SOURCE=CORPDW;USER ID=ESCALA;PASSWORD=ESCALA"/>
    <add name="SgtapTecon" connectionString="DATA SOURCE=SGTAP_PLUTAO;USER ID=SGTAP;PASSWORD=SGTAP"/>
    <add name="SgtapImbituba" connectionString="DATA SOURCE=IMBITUBA;USER ID=SGTAP;PASSWORD=SGTAP"/>
    <add name="SgtapLogistica" connectionString="DATA SOURCE=PROD_ALE;USER ID=SGTAP;PASSWORD=SGTAP"/>
    <add name="SgtapConvicon" connectionString="DATA SOURCE=CONVICON;USER ID=SGTAP;PASSWORD=SGTAP"/>
    <add name="CtisTecon" connectionString="DATA SOURCE=SSZ;USER ID=CTIS;PASSWORD=SBSA"/>
    <add name="CtisImbituba" connectionString="DATA SOURCE=IMBITUBA;USER ID=CTIS;PASSWORD=SBSA"/>
    <add name="CtisLogistica" connectionString="DATA SOURCE=PROD_ALE;USER ID=CTIS;PASSWORD=SBSA"/>
    <add name="CtisConvicon" connectionString="DATA SOURCE=CONVICON;USER ID=CTIS;PASSWORD=SBSA"/>
    <add name="CtisNovelis" connectionString="DATA SOURCE=NOVELIS;USER ID=CTIS;PASSWORD=SBSA"/>
    <add name="CtisSaboo2" connectionString="DATA SOURCE=SABOO2;USER ID=CTIS;PASSWORD=SBSA"/>
    <add name="FatuTecon" connectionString="DATA SOURCE=FATUD;USER ID=DESENV;PASSWORD=sistemas"/>
    <add name="FatuImbituba" connectionString="DATA SOURCE=FATU_IMB;USER ID=FATU;PASSWORD=FATU"/>
    <add name="FatuLogistica" connectionString="DATA SOURCE=PROD_ALE;USER ID=FATU;PASSWORD=FATU"/>
    <add name="FatuConvicon" connectionString="DATA SOURCE=CONVICON;USER ID=FATU;PASSWORD=FATU"/>
  </connectionStrings>
</configuration>